arena:
  world: "world"
  arenaZone: "0,0,0:0,0,0"
  portalZone: "0,0,0:0,0,0"
  spawn:
    WHITE: []
  mobsSpawnLocation: []
config:
  gameDurationInSeconds: 600
  maxPlayerInTeam: 2
prestart:
  teamItem:
    material: DIAMOND_SWORD
    displayname: "&bSelect team"
    lore: []
  kitsItem:
    material: CHEST
    displayname: "&bSelect kit"
    lore: []
gui:
  team:
    title: "Sélectionnez votre équipe"
    playerFormat: "&3- &e{player}"
    white:
      displayname: "&fEquipe blanche"
    gray:
      displayname: "&8Equipe grise"
    red:
      displayname: "&4Equipe rouge"
    orange:
      displayname: "&6Equipe orange"
    yellow:
      displayname: "&eEquipe jaune"
    green:
      displayname: "&2Equipe verte"
    cyan:
      displayname: "&3Equipe cyan"
    purple:
      displayname: "&5Equipe violette"
    random:
      material: BARRIER
      displayname: "&bSélection aléatoire"
      lore: []
  kits:
    title: "Sélectionnez un kit"
    displayFormat: "&3Kit: §e{kit}"
    kit:
      #Mettre le nom du kit pour définir un lore dans le menu kit
      kitName:
        - "&3x1 Casque en fer"
messages:
  config:
    incompleteConfig: "L'arène n'est pas correctement configuré !"
  preStart:
    inProgress: "&cLa partie est déjà en cours."
    go: "&aVous pouvez désormais choisir votre équipe ainsi que votre kit."
  armsrush:
    help: |
      &c/armsrush addkit <name> <material_to_display>
      &c/armsrush delkit <name>
    addkit:
      help: "&c/armsrush addkit <name> <material_to_display>"
      materialInvalid: "&cL'ID du bloc est invalide."
      alreadyExist: "&cUn kit existe déjà sous ce nom."
      success: "&aKit crée."
    delkit:
      help: "&c/armsrush delkit <name>"
      kitNotExist: "&cAucun kit sous ce nom."
      kitDeleted: "&aLe kit a été supprimé."
  team:
    full: "&cCette équipe est complète."
    success: "&aVous avez rejoint l'équipe avec succès."
    noTeamAvailable: "&cAucune équipe n'est disponible."
  kits:
    select: "&aVous avez sélectionné le kit &b{kit}"