arena:
  world: "world"
  arenaZone: "0,0,0:0,0,0"
  portalZone: "0,0,0:0,0,0"
  spawn:
    WHITE: []
  mobsSpawnLocation: []
config:
  gameDurationInSeconds: 600
  maxPlayerInTeam: 2
prestart:
  teamItem:
    material: DIAMOND_SWORD
    displayname: "&bSelect team"
    lore: []
  kitsItem:
    material: CHEST
    displayname: "&bSelect kit"
    lore: []
butin:
  material: NETHER_STAR
  display: "&3{butin}"
gui:
  team:
    title: "Sélectionnez votre équipe"
    playerFormat: "&3- &e{player}"
    white:
      displayname: "&fEquipe blanche"
    gray:
      displayname: "&8Equipe grise"
    red:
      displayname: "&4Equipe rouge"
    orange:
      displayname: "&6Equipe orange"
    yellow:
      displayname: "&eEquipe jaune"
    green:
      displayname: "&2Equipe verte"
    cyan:
      displayname: "&3Equipe cyan"
    purple:
      displayname: "&5Equipe violette"
    random:
      material: BARRIER
      displayname: "&bSélection aléatoire"
      lore: []
  kits:
    title: "Sélectionnez un kit"
    displayFormat: "&3Kit: §e{kit}"
    kit:
      #Mettre le nom du kit pour définir un lore dans le menu kit
      kitName:
        - "&3x1 Casque en fer"
messages:
  config:
    help: "&aUtilisez la commande &b/config start &apour débuter la configuration de l'arène"
    incompleteConfig: "L'arène n'est pas correctement configuré !"
    noConfirm: "&cVous n'avez rien à confirmer."
    configurationInProgress: "&cUn joueur configure déjà l'arène !"
    hoeGlobalCuboid: "&aAvec la houe, définissez la zone global de jeu avec le clic droit et gauche"
    hoePortalCuboid: "&aAvec la houe, définissez la zone du portail avec le clic droit et gauche"
    spawnAdded: "&aPoint de spawn ajouté."
    notInZone: "&cLe point de spawn n'est pas dans la zone de jeu."
    addWhiteSpawnPoint: "&aAvec la commande &b/config addWhiteSpawnPoint &aajouter les positions de spawn des joueurs &fBlanche&a. Une fois terminé, faites &b/config stopWhiteSpawnPoint"
    minOneBlueSpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addWhiteSpawnPoint."
    addGraySpawnPoint: "&aAvec la commande &b/config addGraySpawnPoint &aajouter les positions de spawn des joueurs &8Grise&a. Une fois terminé, faites &b/config stopGraySpawnPoint"
    minOneGraySpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addGraySpawnPoint."
    addRedSpawnPoint: "&aAvec la commande &b/config addRedSpawnPoint &aajouter les positions de spawn des joueurs &4Rouge&a. Une fois terminé, faites &b/config stopRedSpawnPoint"
    minOneRedSpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addRedSpawnPoint."
    addOrangeSpawnPoint: "&aAvec la commande &b/config addOrangeSpawnPoint &aajouter les positions de spawn des joueurs &6Orange&a. Une fois terminé, faites &b/config stopOrangeSpawnPoint"
    minOneOrangeSpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addOrangeSpawnPoint."
    addYellowSpawnPoint: "&aAvec la commande &b/config addYellowSpawnPoint &aajouter les positions de spawn des joueurs &eJaune&a. Une fois terminé, faites &b/config stopYellowSpawnPoint"
    minOneYellowSpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addYellowSpawnPoint."
    addGreenSpawnPoint: "&aAvec la commande &b/config addGreenSpawnPoint &aajouter les positions de spawn des joueurs &2Verte&a. Une fois terminé, faites &b/config stopGreenSpawnPoint"
    minOneGreenSpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addGreenSpawnPoint."
    addCyanSpawnPoint: "&aAvec la commande &b/config addCyanSpawnPoint &aajouter les positions de spawn des joueurs &3Cyan&a. Une fois terminé, faites &b/config stopCyanSpawnPoint"
    minOneCyanSpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addCyanSpawnPoint."
    addPurpleSpawnPoint: "&aAvec la commande &b/config addPurpleSpawnPoint &aajouter les positions de spawn des joueurs &5Violette&a. Une fois terminé, faites &b/config stopPurpleSpawnPoint"
    minOnePurpleSpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addPurpleSpawnPoint."
    addMobsSpawnPoint: "&aAvec la commande &b/config addMobsSpawnPoint &aajouter les positions de spawn des mobs&a. Une fois terminé, faites &b/config stopMobsSpawnPoint"
    minOneMobsSpawn: "&cVous devez définir au moins un point de spawn avec la commande &e/config addMobsSpawnPoint."
    success: "&aConfiguration terminée."
  zone:
    point1: "&aPoint 1 défini."
    point2: "&aPoint 2 défini."
    success: "&aZone complète, effectuez la commande &b/config confirm &apour poursuivre."
    positionNull: "Les deux positions n'ont pas été défini."
    worldError: "Les deux positions ne se situent pas dans le même monde."
  preStart:
    inProgress: "&cLa partie est déjà en cours."
    go: "&aVous pouvez désormais choisir votre équipe ainsi que votre kit."
  armsrush:
    help: |
      &c/armsrush addkit <name> <material_to_display>
      &c/armsrush delkit <name>
    addkit:
      help: "&c/armsrush addkit <name> <material_to_display>"
      materialInvalid: "&cL'ID du bloc est invalide."
      alreadyExist: "&cUn kit existe déjà sous ce nom."
      success: "&aKit crée."
    delkit:
      help: "&c/armsrush delkit <name>"
      kitNotExist: "&cAucun kit sous ce nom."
      kitDeleted: "&aLe kit a été supprimé."
  team:
    full: "&cCette équipe est complète."
    success: "&aVous avez rejoint l'équipe avec succès."
    noTeamAvailable: "&cAucune équipe n'est disponible."
  kits:
    select: "&aVous avez sélectionné le kit &b{kit}"
  kill:
    broadcast: "&e{killer} &7a tué &b{victim}"